[2013-08-09 09:50] jthomsen opened #1 "Old fully processed media locators not in the latest RDF graph"
/\* Originally from Jaap Blom, 23/07/2013 */

These two videos http://api.linkedtv.eu/mediaresource?status=MF_URIS_GENERATED are the only and (really) old, but fully processed files available in the platform, however cannot be found in the RDF when using the new graph IRI http://data.linkedtv.eu/graph/linkedtv.
Without using this graph IRI in the SPARQL query these two files (and most importantly

[2013-08-09 10:02] jthomsen opened #2 "Matching SPARQL ma:MediaResource(s) with corresponding records in the API"
/\* Originally from Jaap Blom 23/07/2013 */

Ok so the media locators (ma:locator) are not updated in the RDF, but I would expect to be able to use the URI found in the corresponding ma:MediaResource to find the corresponding mediaresource in the API, however now for example the URI in SPARQL is e.g.:

http://data.linkedtv.eu/media/20130324-73b2-4aab-a3a5-1b840d101a33
which does not point to the A

[2013-08-09 10:04] jthomsen opened #3 "RDF is not updated when using the REST API"
/\* Jaap Blom 23/07/2013 */

Noterik has updated the media locators for several videos, however this is not reflected in the RDF, e.g.:

http://api.linkedtv.eu/mediaresource/cb0ee9e2-a5b6-11e2-951c-f8bdfd0abfbd shows that the locator is http://stream17.noterik.com/progressive/stream17/domain/linkedtv/user/rbb/video/151/ however this URL cannot be found in any of the ma:locator resources in the RDF

[2013-08-09 10:04] jthomsen commented on #3
/\* Jan Thomsen 23/07/2013 */

yes, this is correct!

Conceptionally the resource locators which are generated by Noterik do not need to be updated in the RDF, because in the final workflow the RDF generation is only triggered _after_ these locators have been generated, so then via RDF/SPARQL there are only the correct, final ones will be available (as I wrote in my last email, exchanging steps 3)

[2013-08-09 11:02] jthomsen commented on #3
The solution is that we will flush the RDF repository and then rerun all serializations with the final locators, then both are aligned; so no special fix needed here

[2013-08-09 14:26] jthomsen opened #4 "Test and integrate WP1 REST Service"
/\* Daniel Stein 31/05/2013 */

Status:
- the server is located at pronto.iais.fraunhofer.de, and you should be able to POST the url of a video and then it starts ASR+speaker clustering. It assignes a REST ressource with the status of the processing. EXMaRALDA python scripts are not called automatically, but this is currently the least of my concerns.
- We (me and my students) work on integrating

[2013-08-09 14:27] jthomsen commented on #4
/\* Daniel Stein 06/06/2013 */

we are making some progress. CERTH code can be executed, we are currently integrating this into the web service.

[2013-08-09 14:28] jthomsen commented on #4
/\* Raphael Troncy 16/06/2013 */

I know you're quite busy working on the REST server, but you probably have already made some decisions regarding URI patterns, interaction modeling, response formats, etc. Is all this documented somewhere on the wiki? The reason I'm asking is that we (EURECOM/WP2) are quite skilled in designing REST services and I would be happy to provide feedback on the design y

[2013-08-09 14:39] jthomsen commented on #4
/\* Daniel Stein 18/07/2013 */

the REST service is running on the open port of 8000. Face detection is included and works (thanks Benoit/Mathilde for your fantastic support and guidance).
- Keyword extraction so far has not been done on ASR, so for the time being I did not include this functionality.
- Face Detection has some minor format conversion issues which will probably be solved within the

[2013-08-09 15:33] jthomsen commented on #4
(by now very rudimentary) documentation on http://www.linkedtv.eu/wiki/index.php/EXMARaLDA_REST_Service

[2013-08-13 14:37] jthomsen commented on #1
ok, this is probably solved when the repository has been flushed and serialization rerun

[2013-08-13 14:42] jthomsen opened #5 "AdminDB: Media Resource status not updated to TRANSFERRED"
when Noterik successfully transmitted a video file they want to set the status from IMPORTED to TRANSFERRED

[2013-08-15 14:56] jthomsen opened #6 "Manual creation of media resources fails"
when trying to manually create a media resource, nothing happens and a "Page not found" is returned

[2013-08-15 14:58] jthomsen opened #7 "AdminTool: css error"
not displayed properly

[2013-08-15 15:42] alisarioglu commented on #7
fixed

[2013-08-15 15:42] #7 closed, assigned to alisarioglu

[2013-08-20 14:51] alisarioglu commented on #6
fixed

[2013-08-20 14:51] #6 closed, assigned to alisarioglu

[2013-08-21 11:18] jthomsen commented on #5
also fixed?

[2013-08-21 13:06] jthomsen opened #8 "AdminDB: Support multiple locators"
Each mediaresource now can have multiple locators; this has to be reflected in the DB schema and there has to be POST REST operation for locators which adds locators for existing media resources

[2013-08-28 14:01] jthomsen opened #9 "Upgrade OpenlinkVirtuoso to current version 7.0"

[2013-08-28 14:01] jthomsen opened #10 "Upgrade Elda to current version 1.2.24"

[2013-08-28 14:02] #3 closed, assigned to jthomsen

[2013-08-28 14:02] jthomsen commented on #1
yes, this is now obsolete

[2013-08-28 14:02] #1 closed, assigned to alisarioglu

[2013-08-28 14:57] jthomsen opened #11 "http://api.linkedtv.eu/mediaresource : correct links"
In http://api.linkedtv.eu/mediaresource the links to the different resources should be correct:
EXMARaLDA: link to the media resoource relation Exmaralda
Mediafragments: add uuid

plus: RDF - link to relation RDF

order should then be:

XML | JSON | EXMARaLDA | XML | JSON | media fragments

[2013-09-03 11:24] jthomsen opened #12 "REST API: Restrict graph to linkedtv"
Both GUI and REST API should be restricted to the linkedtv graph; currently this could be done implicitly as we are using only one graph

[2013-09-24 14:38] pietervanleeuwen opened #13 "REST API: json character encoding"
When requesting annotations through the API using json the text characters encoding is not always correct.
For example annotation ebfad895-2096-4d38-b80b-9729b9ad858f US-Präsidenten contains an ä.  When requested through json the response is encoded incorrectly encoded as 'US-PrÃ¤sidenten'

[2013-10-10 09:02] jthomsen opened #14 "REST API call for retrieving annotations added by the Editor Tool"
sthing like /annotation?source=editortool&origin=enrichment/basic

[2013-10-10 09:09] jthomsen opened #15 "proxy server received an invalid response from an upstream server."
OK firstmost I am not getting access via the REST API right now.
/\* Lyndon Nixon 08/10/2013 */

http://data.linkedtv.eu/mediaresource/8a8187f2-3fc8-cb54-0140-7dd099380002/mediafragment returns

Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /mediaresource/8a8187f2-3fc8-cb54-0140-7dd099380002/mediafragment.
Reas

[2013-10-10 09:10] jthomsen commented on #15
/\* Ali Sarioglu 08/10/2013 */

this is a known bug that base on the ordering (off the mediafragments). Sometimes it takes to much time to get a result and the apache webserver return this proxy error.

I will let you know when I fixed it.

[2013-10-10 09:12] jthomsen opened #16 "REST API: PUT /annotation"
provide a REST API Call for PUTing annotations to the graph. Mainly to be used by the Editor Tool

[2013-10-17 14:13] alisarioglu commented on #15
Fixed.

[2013-10-17 14:13] #15 closed, assigned to alisarioglu

[2013-10-17 15:10] alisarioglu commented on #13
Hi Pieter, I think you see this characters because your client (windows command line, ...), is not be able to show utf-8. Try the following curl request and open the file with an editor that can handle utf-8.

curl -X GET http://data.linkedtv.eu/API/annotation/ebfad895-2096-4d38-b80b-9729b9ad858f?_view=full -v --header "Accept:application/json;" > utf-8-file.txt

[2013-10-17 15:13] alisarioglu commented on #5
fixed.

[2013-10-17 15:13] #5 closed, assigned to alisarioglu

[2013-10-17 15:25] alisarioglu commented on #14
To get the annotations generated by the editor tool, the following parameter can be added to the url.  '?wasAttributedTo=http%3A%2F%2Fdata.linkedtv.eu%2Forganization%2FSV%2FEditorTool’.

Here is an example where annatotions will be returned that related to the media resource '8a8187f2-3fc8-cb54-0140-7dccd76f0001' for the first 5 minutes and generated with the editor tool:

http://data.linkedtv.eu/

[2013-10-17 15:25] #14 closed, assigned to alisarioglu

[2013-10-21 10:16] jthomsen commented on #13
hi pieter, please check, cheers jan

[2013-10-21 10:16] #13 closed, assigned to pietervanleeuwen

[2013-10-21 10:21] pietervanleeuwen commented on #13
I've checked and Ali was right that the encoding was UTF-8.
The error came from the fact that we rely on what the servers response header content-type is telling what the encoding is (using http://hc.apache.org/httpclient-legacy/apidocs/org/apache/commons/httpclient/HttpMethodBase.html#getResponseCharSet%28%29).
However the API doesn't provide any content-type in the response header at all and for

[2013-10-21 10:30] jthomsen commented on #13
hi pieter,
ok thanks, then best close this issue and create a new one for this nice-to-have feature, and assign to ali
best, jan

From: pietervanleeuwen [mailto:notifications@github.com]
Sent: Monday, October 21, 2013 12:21 PM
To: linkedtv/platform
Cc: Jan Thomsen
Subject: Re: [platform] REST API: json character encoding (#13)

I've checked and Ali was right that the encoding was UTF-8.
The error

[2013-10-21 10:41] pietervanleeuwen opened #17 "REST API: provide character encoding in header"
It would be nice if the REST-API could include the character encoding that is used to encode the content (e.g. UTF-8) in the content-type response header of the request. This way it's clear for any application what encoding is used and how the response should be parsed.

Current situation:
Content-Type: application/xml

Requested situation:
Content-Type: application/xml; charset=utf-8

[2013-11-05 09:20] jthomsen opened #18 "REST API: dc:type not included"
full annotation on the platform REST api does not return dc:type (DBPedia/Freebase) of entities, included in the uploaded (on the SVN) RDFs

Source: WP2 Telco 2013/10/01

[2013-11-23 14:15] rtroncy commented on #18
Is this just something you forgot to add in the API? Note that in year 3, we will update this part in the annotation process where we are likely to return multiple rdf:type for the detected entities. This will reflect the great power of THD and other extractors that provide fine-grained types.

[2013-11-23 15:40] dorotheatsatsou commented on #18
Probably forgotten, but now it is supported, quoting @alisarioglu (from 5/11/2013):

"you can get the value from dc:type from an annotation by adding the URL parameter _properties=hasBody.Type to the URL.

Here is an example, with normal view:
http://data.linkedtv.eu/annotation?_view=normal&hasBody=http://data.linkedtv.eu/entity/5dbdd085-7454-4556-8ea1-d41d4aa77235&_properties=hasBody.Type

To kee

[2013-11-23 16:16] rtroncy commented on #18
Thanks Dorothea, I still have many more LinkedTV emails to read, but I'm getting there :-)
What is producing statements with dc:type ? It seems to me that rdf:type should always be used, in particular in the example you just pointed out.

[2013-11-23 17:23] dorotheatsatsou commented on #18
Don't worry, I think this solution was not communicated publicly yet, I guess because of subsequent issues.
I agree that rdf:type should always be used. .

Statements with dc:type are often fine-grained and are only returned in the annotation of text, denoting the type (in dbpedia, freebase and an unknown source, see problem below) of an entity extracted within a segment of the text. They are addi

[2013-11-24 11:15] rtroncy commented on #18
Thanks for digging into the issue. Now, I'm starting to put all the pieces together. What you're saying is that an entity detected in the transcript through the NERD platform will be:
- minted in the http://data.linkedtv.eu/entity/UUID namespace
- rdf:type linkedtv:Entity
- owl:sameAs dbpedia/freebase/etc. resources
- dc:type dbpedia-owl/freebase/etc. more fine-grained types
  This is the last sta

[2013-11-24 12:10] dorotheatsatsou commented on #18
Thanks for looking into this issue.

- Yes

- Yes but also: rdf:type linkedtv:Entity, nerd:{something}

- owl:sameAs wikipedia entries (from textrazor) or dbpedia resources (from thd and semitags). No freebase resource here. E.g. owl:sameAs http://nl.wikipedia.org/wiki/Parijs or owl:sameAs http://de.dbpedia.org/resource/Giacomo_Puccini

- Yes.

[2013-11-24 13:01] rtroncy commented on #18
Good, we have well-captured the issue :-) Now, let's work on a solution :-)
Note that owl:sameAs a wikipedia resource is also something I think we should avoid (and instead normalize with a dbpedia URI which has a foaf:page a wikipedia resource)

[2013-11-25 15:26] jthomsen commented on #18
OK, good discussion; so who is now in charge? guess it's @rtroncy, right? So, I assign to you; yoz may assign to somebody else again; we need the UEP github ids, true :-)

[2013-11-25 15:33] rtroncy commented on #18
Nope, this is @jluisred !

[2013-11-25 15:34] jthomsen commented on #18
ok, @jluisred is assigned ;-)

[2013-11-25 17:23] dorotheatsatsou commented on #18
Thanks!

Note that I forgot:

Yes.

I agree.

[2013-12-03 10:43] kliegr commented on #18
This is indeed a feature not a bug. It comes from the underlying LHD dataset, which tries to attach as precise types as possible. In almost all cases THD now (as of LHD 2.0 draft) returns also a more generic DBpedia Ontology type in addition to the specific "resource"  type, so you can discard the "resource" type if needs be.

[2013-12-03 13:25] alisarioglu opened #19 "Wrong subtitle reference in generated RDF data"
Serialization of rbb content referenced to S&V subtitle.

http://data.linkedtv.eu/mediaresource/cb89365c-a5b6-11e2-951c-f8bdfd0abfbd

All related files are here: http://www.linkedtv.eu/wiki/images/e/ef/Cba5f10c-a5b6-11e2-951c-f8bdfd0abfbd.zip

1) Posting media resource url, srt file and exmeralda file.
- SRT file: cba5f10c-a5b6-11e2-951c-f8bdfd0abfbd_BERLIN-2013-04-02-21-45
  -09-04022145.srt
- EX

[2013-12-03 13:41] rtroncy commented on #18
This cannot be a feature, sorry. Let me explain:  http://dbpedia.org/resource/xxx is not a type. It is an instance, which has a rdf:type. You can GET the rdf:type of the resource by dereferencing the resource URI, but I'm asking why do you put this URI in the type field where clearly, this is NOT a type. Do you see my point @kliegr ?

[2014-01-27 09:21] #19 closed, assigned to jluisred

[2014-01-27 09:24] jluisred commented on #19
Ali, thanks for the very detailed Error log.
Now the attribute "hasSubtitling" will be included in the subtitle serialization results instead of in the exmaralda RDF, and only in case the provided SRT is a -resource- in the Web and not a local file.

[2014-03-03 15:40] kliegr commented on #18
The types_filter parameter in the version 2 of the THD API allows to remove types from the dbpedia.org/resource namespace from the output. Also this version includes LHD 2.0, which increases the coverage of DBpedia Ontology types to 95%+ (for English). This should help to resolve this issue.

On a more theoretical level, we also had doubts on whether using DBpedia resource as a class is the correc

[2014-03-03 18:42] dorotheatsatsou commented on #18
Hi, if I may I offer my POV on this 'types' discussion.

Theoretically, Raphael is right. DBPedia ontology should provide the schema, hence all the classes that should serve as types of individuals, i.e. classes/concepts that individuals instantiate, so types should come only from within the DBPedia ontology and not the resources.

However, DBPedia ontology (although getting better and better in t

[2014-05-07 09:17] pietervanleeuwen opened #20 "Missing mandatory title for RBB items after import"
I've noticed that in the LinkedTV API the daily imported RBB videos don't always have the mandatory title after they are imported.
Browsing a bit back it appears to have started at 22.11.2013 and seems to occur until this week a bit random.

In the API portal (http://api.linkedtv.eu/mediaresource) it's not possible to view more details about these items as the title serves as link for this. Not su

[2014-05-14 15:28] pietervanleeuwen opened #21 "Status not updated"
Since Monday the request we do to report transferred videos back into the system does not take the the LinkedTVStatus node into account anymore.
These videos get updated with the correct locator, however they still have the status IMPORTED instead of the expected status TRANSFERRED.

Here is the XML we send:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><mediaresource><locator>[LOCATOR]<

[2014-05-14 16:01] rtroncy commented on #18
Resolved, see https://lists.iais.fraunhofer.de/sympa/arc/linkedtv-wp2/2014-05/msg00001.html

[2014-05-14 16:02] #18 closed, assigned to jluisred

[2014-05-15 10:32] jluisred opened #22 "Video Status given the filename"
Is there any way to check the video statuses by providing the corresponding filename in the FTP server?

For example, I would like to see if the video at:
ftp://ftp.condat.de/archive/Data/SV/final/video/TUSSEN_KUNST_-AVR00008Q6E_115000_2845960.mp4
has been already stored in Noterik's platform.

Thanks in advance!

[2014-05-15 11:49] alisarioglu commented on #22
Dear Jose Luis,

You can see the current state of the video in the 'Platform Administration' list:
http://api.linkedtv.eu/mediaresource?view=table&status=4

Here is the detail page:
http://api.linkedtv.eu/mediaresource/a165b0aa-a36f-4f44-b8ce-982dec9bcdf2

with the link to the new locator: http://stream17.noterik.com/progressive/stream17/domain/linkedtv/user/avro/video/112/

Here is the data in th

[2014-05-15 11:53] rtroncy commented on #22
Yes, I think the feature request was exactly to have a search function in the platform, so that if one has a video filename, one can immediately search for the status rather than browsing the soon long list of videos ingested in the platform.

By the way, what are the credentials to use at http://api.linkedtv.eu/login ?

[2014-05-15 13:10] jluisred commented on #22
Hello Ali:

Thank you for your answer! This clarifies things.
Yes, some search functionality under http://api.linkedtv.eu/search would be useful, specially when the number of ingested videos gets bigger.

Additionally, after browsing some MediaResources another question comes to my mind. What would we exactly expect to find under the property "Relation"?

For example:
http://api.linkedtv.eu/mediar

[2014-05-15 13:49] alisarioglu commented on #22
Hello Jose Luis,

You can also get an XML by a GET http://api.linkedtv.eu/mediaresource/b82fb032-d95e-11e2-951c-f8bdfd0abfbd/mediaresourcerelation request with accept:application/rdf

Or in a browser

http://api.linkedtv.eu/mediaresource/b82fb032-d95e-11e2-951c-f8bdfd0abfbd/mediaresourcerelation.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<mediaresourcerelations>
    <mediaresourc

[2014-05-15 13:52] jluisred opened #23 "Useless Graphs in LinkedTV Triplestore"
Sorry to bother again over here :)

Low priority, but just to keep track of problems:
At http://data.linkedtv.eu/conductor/ there are many useless graphs created probably by some wrong script uploading data to the triplestore, like for example:
http://data.linkedtv.eu/media/d3c65c76-4568-11e3-a723-00163ebdcad9

[2014-05-15 14:12] jluisred commented on #22
Hello Ali:

Thanks! That confirmed what I intuitively figured out after taking a look at some MediaResources. Related material in general, this is useful.

In any case, continuing with the second question I did before I still would have expected to find the subtitles in there, because they are available in the platform:
http://api.linkedtv.eu/data/SV/final/subs/TUSSEN_KUNST_-AVR00008KC3_115000_283

[2014-05-16 09:44] alisarioglu commented on #22
Hello Jose Luis,

In the cases of automated data import from rbb it happens. Anyone who create a media resource and upload related material should afterwards import this information in the database of the 'Platform Administration'. This can make by following POST request:

POST http://api.linkedtv.eu/mediaresource/[UUID-of-media-resource]/mediaresourcerelation

HEADER:
Authorisation: Basic ...
Con

[2014-06-18 09:53] jthomsen opened #24 "REST API: provide parameter for passing user ids"
In order to support personalisation the REST API has to provide an additional parameter for passing user ids, either in the URL or in the body, i.e.
option 1:
GET http://data.linkedtv.eu/mediaresource/{mediaresourceId}/annotation?...&user={userid}
option 2:
GET http://data.linkedtv.eu/mediaresource/{mediaresourceId}/annotation?...
Body:
... <user>userid</user>

this should go for all types of anno

[2014-07-18 12:21] jthomsen opened #25 "display the thumbnail of a media resource"
why is it forbidden to see the thumbnail of a media resource, e.g.
http://images1.noterik.com/domain/linkedtv/user/rbb/video/1621/shots/1/?

raised by @rtroncy

[2014-07-18 12:24] jthomsen opened #26 "implement the ticketing system in the dashboard in order to see the thumbnail"
can you implement in the dashboard the ticketing system in order to see the thumbnail, a preview of the stream (e.g.
http://stream18.noterik.com/progressive/stream18/domain/linkedtv/user/rbb/video/1621/)?

Note that one can always see the video using the deep link, e.g.
http://api.linkedtv.eu/data/RBB/mp4/rbbaktuell_20140602_sdg_m_16_9_512x288.mp4

raised by @rtroncy

[2014-07-18 12:42] jthomsen opened #27 "REST API: Get all chapters of a media resource"
GET /mediaresource/{uuid}/chapter

[2014-07-18 12:44] jthomsen opened #28 "REST API: Get all entities of a chapter"
GET  /chapter/{uuid}/entity

[2014-07-18 12:57] jthomsen opened #29 "REST API: Get related media resources of a media resource"
GET /mediaresource/{uuid}/relatedcontent?type=video
GET /mediaresource/{uuid}/relatedcontent/video or

raised by @michielhildebrand

[2014-07-18 12:59] jthomsen opened #30 "REST API: Get all enrichments for chapter X"
GET /chapter/{uuid}/enrichment

this is a shortcut for
GET /chapter/{uuid}/annotation?motivatedBy=linking

requested by @jblom, @michielhildebrand

[2014-07-18 13:01] jthomsen opened #31 "REST API - Get all enrichments based on entity x"
GET /entity/{uuid}/enrichment

Q: is this possible? Does the model support annotations attached entities?

[2014-07-18 13:08] jthomsen opened #32 "REST API: Get curated enrichments"
GET /annotation/{id}/enrichment/curated

requested by @jblom, @pietervanleeuwen, Lyndon

[2014-07-21 07:40] pietervanleeuwen commented on #25
Because you didn't specifiy what thumbnail you wanted to see ;-) For this particular video we have 1730 thumbnails available. Ranging from http://images1.noterik.com/domain/linkedtv/user/rbb/video/1621/shots/1/h/0/m/0/sec1.jpg to http://images1.noterik.com/domain/linkedtv/user/rbb/video/1621/shots/1/h/0/m/28/sec51.jpg

The thumbnail locator is a base uri as we store an image of every second of vid

[2014-07-21 15:31] rtroncy commented on #25
Ah! I was not aware that what is displayed in the dashboard (http://api.linkedtv.eu/mediaresource/154307a8-0058-4946-839d-cd802fe0aad5) as thumbnail-locator was actually a base URI ! @jthomsen was this ever documented?

Thanks for the clarification @pietervanleeuwen. In this case, what I was more looking for is the video poster, i.e. the single image/frame that represents the video before video da

[2014-07-22 13:56] pietervanleeuwen commented on #25
@rtroncy I understand some of the confusement about this as for the ET it was discussed that it would be a nice feature if the editor could set a screenshot that represents the video.

Setting the image to the first frame does often give issues with black screens we know from experience (and see http://images1.noterik.com/domain/linkedtv/user/avro/video/100/shots/1/h/0/m/0/sec1.jpg for an example

[2014-07-22 14:03] rtroncy commented on #25
Ah, ok! Whatever is the best then :-)
I think you should still generate keyframes every x second for fast previewing a video but I think you should  also add a specific frame as an illustration of the entire video, and call it a "poster" as YouTube does.

@jthomsen Can the platform handles a new field "poster" when ingesting new videos?

[2014-07-22 20:40] jthomsen commented on #25
yes, this should be no problem; a "poster" would be just another MediaResourceRelation with:
RelationTarget: {KeyframeURI}
RelationType: "Poster"
you can add as many MediaResourceRelations with arbitrary RelationTypes (they are just strings) as you like

[2014-07-22 22:09] jthomsen opened #33 "Trigger Solr update on new file events"
update the different Solr indexes whenever a new srt, exb, ttl file has been created.

[2014-07-23 06:24] jblom commented on #25
Hi Jan, Raphael, Pieter, Lyndon,

shamefully open question (I appreciate Raphael's problem of being swamped
with mail and trying to do some actual work):

Does the RDF/model now support storing a poster for videos? Also is there a
way to store posters for chapters?

If so, could anyone show me how to do this?

(Really into ET development now and trying to keep up with all the
important discussions

[2014-07-23 07:00] rtroncy commented on #25
The RDF/data model we use in LinkedTV makes use of the Ontology for Media Resource so it has always been able to attach a poster to a media resource, via the ma:hasRelatedResource property or one of its sub-property depending on the relation.type, see also the [spec](http://www.w3.org/TR/mediaont-10/#correspondence-between-the-informal-ontology-and-the-rdf-representation)

You should generate a tr

[2014-07-23 07:02] jblom commented on #25
thanks Raphael for the clear/quick answer! This is really helpful. Will
implement this in this way.

Best,

Jaap

2014-07-23 9:00 GMT+02:00 Raphael Troncy notifications@github.com:

##

_Jaap Blom_

Projectmedewerker R&D

_T_ 035 - 677 1930
_Aanwezig:_ ma,di,wo,do,vr
 http://www.beeldengeluid.nl _Nederlands Instituut voor Beeld en Geluid_
*
Media Parkboulevard 1, 1217 WE  Hilversum | Postbus 1060,

[2014-07-23 15:54] jthomsen opened #34 "automize flush and reread of the rdf repository"
as we're still in a phase where bug fixes come up we should automize the flushing and reprocessing of annotation and enrichment results

[2014-07-23 16:02] jthomsen opened #35 "Dashboard: provide statistics"
The dashboard should provide statistics about media resource and fragments.
For a start:
- number of mediaresources (provider, #all, #imported, #analysed, #annotated, #enriched
- for single mediaresources (#chapters, #entities)

[2014-07-27 21:29] jthomsen commented on #33
have been investigating the update of the LinkedTV Solr index; luckily I've found that Mathilde provided a readme; I've put the content on the Wiki under http://www.linkedtv.eu/wiki/index.php/Solr and edited it further. To summarize:
- Mathilde provided a Java program TV2Lucene.jar which is exactly intended to update the Solr index; however, it has some restrictions:
- SRT and EXB files are mandat

[2014-07-28 10:10] jthomsen commented on #33
Status: the main rbbaktuell shows where both SRT and EXB files exist (around 30) have been indexed successfully (with the above mentioned restrictions).
Indexing S&V content gives an NPE
call:
java -jar TV2Lucene.jar  -srt /mnt/data/SV/final/subs/TUSSEN_KUNST_-AVR00006KUO_115000_3091120.srt  -exm /mnt/data/SV/final/exmaralda/TUSSEN_KUNST_-AVR00006KUO_115000_3091120.exb -provider SV  -videoId 04011

[2014-08-04 07:43] jthomsen commented on #27
SPARQL Query:

[code]

[2014-08-04 07:49] jthomsen commented on #27
has been realized with the above SPARQL query; retrieves chapters from uncurated annotations; sample call:

http://data.linkedtv.eu/mediaresource/adb65e0a-642b-432f-aa86-c296dab0375a/chapter

[2014-08-04 08:37] jthomsen commented on #31
SPARQL query:

[code]

[2014-08-04 08:40] jthomsen commented on #31
has been realized with the above SPARQL query; sample call

http://data.linkedtv.eu/entity/df7f3f31-3b32-4387-9383-2b2f1045e5f6/enrichment

[2014-08-04 09:02] rtroncy commented on #27
What is the purpose of the last triple pattern (?mediafragment nsa:temporalStart ?start ) ?

What is the relationship between ?chapter and ?item ? It seems to me  you just need one variable

[2014-08-04 09:06] jthomsen commented on #27
yes, you're right - thanks for checking! this was indeed a copy / paste error; changed it

[2014-08-04 09:09] rtroncy commented on #31
This triple pattern (?mediafragment linkedtv:hasSubtitle ?subtitle ) seems useless.
The triple pattern (?item ma:locator ?url) is useful only if you add ?url in the select clause.
 More generally, avoid to put any additional triple patterns that are useless, this is a sub-optimization for the SPARQL endpoint that needs to perform unnecessary check.

[2014-08-04 09:13] jthomsen commented on #31
yeah, thanks again (actually I took the (?mediafragment linkedtv:hasSubtitle ?subtitle )  pattern from an example in D2.4 ;-) - was indeed not sure if it's really needed ...

[2014-08-04 09:16] rtroncy commented on #31
It's not ... since you don't use ?subtitle later on

[2014-08-05 06:55] jblom commented on #27
Hi Jan,

thanks for this. I will check later myself but: do the results also include the provenance information? It's important for the ET and the player to check whether these are automated or curated chapters.

(this basically applies for all the other API calls)

Best,

Jaap

[2014-08-05 07:49] jthomsen commented on #27
Hi Jaap,
well at the moment they just return a list of chapter ids from the standard graph, i.e. the non-curated ones; think I could add something like /mediaresource/{uuid}/chapter/curated for the curated ones
would that be ok?

Best
Jan

[2014-08-05 08:04] rtroncy commented on #27
There should not be a "standard graph" whatever it means, since all annotations have PROV statements. Creating a different URI pattern for all possible PROV values does not seem a good idea. Why does /mediaresource/{uuid}/chapter/ simply not return ALL chapters with PROV statements telling how the chapter has been created?

[2014-08-05 08:15] jblom commented on #27
Hi Raphael,

this is due to the fact that the ET still saves in a different graph. I will need to update the saving code of the ET to integrate the data in the 'main' LinkedTV graph (still other things were more important up till now). Hmm I guess it makes sense, if I will do this first. In any case, it's necessary to return the prov data for all of the API calls (if applicable).

[2014-08-05 09:17] jthomsen opened #36 "Support for triple store repository real updates when new annotations/enrichments are computed"
as for different components new versions support for repository updates is needed, since we won't flush the repository any more.

[2014-08-05 09:20] jblom commented on #36
I don't fully understand this issue, could you elaborate?

[2014-08-05 09:27] jthomsen commented on #36
e.g. an improved version of the Unstructured Search Module will be released soon and integrated into the TVEnricher; if we want to make use of these improvements within the existing Y3 demonstrators, we had to remove the old ttl results and update with the new ones

[2014-08-05 14:49] rtroncy commented on #33
Tagging @benoithuet for having a look

[2014-08-05 14:57] rtroncy commented on #33
This is also related to [Issue 16](https://github.com/linkedtv/wp2/issues/16)

[2014-08-07 16:20] jthomsen commented on #33
there is a problem with respect to rbb SRT files: we don't get the SRT files together with the MP4 and TVA files; SRT files are provided only as batches, sometimes weekly or even monthly, and sometimes not at all.
As for TV2Lucene both parameters -srt and -exm are mandatory we cannot include the indexing in the daily ingestion process
So, best would be to update TV2Lucene to make both parameters o

[2014-08-07 16:30] rtroncy commented on #33
If there is no SRT, how can NERD work? Does it mean you do TV2RDF without NERD? It seems to me that this should NOT be the regular process.
If we param TV2Lucene the way you indicate, does this mean you will constantly re-update the index when new resources are available?

[2014-08-07 18:39] jthomsen commented on #33
I totally agree that this _should_ not be the regular process but as a matter of fact this is how it works; the STL files are generated at a different department at rbb in a semi-automatic way, i.e. they are not part of any automatic process but somebody has to think of it and take care that it happens; and as we've discussed with rbb there is currently no chance of changing this (that's at least

[2014-08-07 22:00] rtroncy commented on #33
For TV2RDF, I would adopt your solution 2) and wait to have all resources before calling the service. I would also argue that we could do the same for TV2Lucene but indeed, like Tv2RDF is modular, TV2Lucene could also be modular.
@benoithuet Any chance we can get a modified version of this module to have this feature? By when?

[2014-08-12 13:55] jthomsen opened #37 "TVA files sometimes incomplete"
sometimes TVA files are corrupt / incomplete, e.g.
[2014-08-11_06:02:23] MEDIALINK: Fetched TVA-File http://api.linkedtv.eu/data/RBB/tva/rbbaktuell_20140809.html corrupt or incomplete!
[2014-08-11_06:02:24] FETCH: TVA-Source-URL was: http://www.rbb-online.de/content/rbb/exporter/ard/tva.xml/content/rbb/rbb/rbbaktuell/archiv/20140809_2145

[2014-08-12 20:32] jthomsen commented on #20
this is probably related to issue #37 as the titles are extracted from the TVA files

[2014-08-12 20:35] jthomsen commented on #25
closed as issue doesn't seem to be open any longer

[2014-08-12 20:35] #25 closed, assigned to nobody

[2014-08-12 21:30] rtroncy commented on #25
What is displayed in the platform is still misleading. Hence, the [platform](http://api.linkedtv.eu/mediaresource/154307a8-0058-4946-839d-cd802fe0aad5) still displays a thumbnail locator while the value actually corresponds to a base URI from which one can get a poster, e.g. by adding 'h/0/m/0/sec10.jpg ' to the URL. Either you should rename this into base URI, or you should provide a real thumbna

[2014-08-13 12:15] lyndonnixon opened #38 "Dashboard: more details on which configuration was used in each processing step"
From Olivers mail of 31 July:

"I thought all available analyses would be performed on a new (selected) video and that this would include OCR and probably face detection etc.. I now know that this is not the case so in order to evaluate the results of what is there already, I would need an overview of what processes have been done and what results they led to. "

[2014-08-13 12:51] rtroncy commented on #38
I have already formulated a similar request during the past WP2 and WP5 telecon, good that this is now formalized as a github issue. What I would like to have in the dashboard is a description of which services have been launched with which parameters for each media resources. This is based on the fact that WP1 REST, TV2RDF or TVEnricher have all multiple parameters yielding different outputs but

[2014-08-20 13:19] rtroncy commented on #33
Among the changes to consider:
- Changing the granularity and enable 'chapter' besides 'shot', 'scene' and subtitle block
- Updating the index with the entities out of TV2RDF
- Enabling the "[MoreLikeThis](https://cwiki.apache.org/confluence/display/solr/MoreLikeThis)" built-in search component, for testing more efficient/accurate hyperlink operations.

[2014-08-22 06:34] jthomsen commented on #33
Additionally, I would strongly suggest that an update can happen on single file events, i.e. file params are optional,  otherwise we can only update on a very irregular basis when all three (SRT, TVA, EXM) are available, whch can be once in a month and even not for all videos

[2014-08-22 06:38] jthomsen commented on #33
we are now adding 2 updates to the Solr rbb index every day, whenever a new Exmaralda file is available (we're running 2 Exmaralda WP1 requests a day, each takes about 10 hrs to process)

[2014-10-13 10:26] alisarioglu opened #39 "Faceted Browser Can't Be Installed"
The installation of fct_dav_2014.vad package ends will following error:

[code]

Source of VAD package: http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VOSDownload

Issue on Openlink forum: http://boards.openlinksw.com/phpBB3/viewtopic.php?f=14&t=5696

[2014-10-13 21:09] rtroncy commented on #39
We don't have problem to run the fct vad package from our Virtuoso 7.1 instance in EURECOM.
Did you try to recompile it? This is what we do.

[2014-10-13 21:30] alisarioglu commented on #39
Thanks for the note,
no I don’t compile or recompile it. Is it really necessary? I'll probably try that too.

I’ve downloaded the fct vad package from here http://virtuoso.openlinksw.com/download/
(http://opldownload.s3.amazonaws.com/uda/vad-packages/7.1/fct_dav.vad)
If I remember right, it is version 1.13.54 and try to install from the virtuoso GUI via upload package.
If I saw the download page a

[2014-10-13 21:45] rtroncy commented on #39
Well, re-compiling is your only insurance you have the latest build. This was also suggested in the forum thread you mentioned above.

[2014-10-13 22:33] alisarioglu commented on #39
Which is always recommended. Which is true. I've probably overlooked. I thought there was a hint
to use the latest pre-build or compiled version. I remember in another entry in the thread,
the hint is that it works in the older version, and in a newer not. Also the thread is relatively old.
I prefer mostly a pre-build version, because I assume that it is mostly stable.
For problems where the solut

[2014-10-13 22:39] rtroncy commented on #39
We have compiled Virtuoso and its packages. Our OS is a Fedora (14 I think). We have also compiled Virtuoso on a Debian distribution.

[2014-10-13 22:46] alisarioglu commented on #39
The new version has been installed by a colleague. I'll ask him tomorrow. Thanks for you support.

[2014-11-04 14:23] rtroncy commented on #33
Per today's [WP2 telecon](http://www.linkedtv.eu/wiki/index.php/WP2/Telecon_04-11-14), a new TV2Lucene module has been developed with the following features:
- Support for Chapter granularity
- Decouple Legacy metadata upload from subtitles + exmaralda, making TV-Anytimes not mandatory for the processing
- The entities are not indexed for now ... is there a need for this?

[2014-11-06 08:51] rtroncy opened #40 "List of known prefixes has been deleted"
The list of known prefixes in the SPARQL endpoint has been reset, see http://data.linkedtv.eu/sparql?nsdecl which is unfortunate and makes all queries more complicated since we need to always add a lot of prefixed! At the minimum, `linkedtv`, `prov`, `ma`, `nsa`, etc. should be defined

[2014-11-06 09:30] alisarioglu commented on #40
Following namespaces are added in the new(current) virtuoso

[code]

Here the list of namespaces in the old virtuoso http://data.linkedtv.eu:8892/sparql?nsdecl.
If more is desired, please reopen this issue.

[2014-11-06 09:30] #40 closed, assigned to alisarioglu

[2014-11-10 16:36] jthomsen commented on #33
trying to index TKK files gives an NPE error, probably in connection with the concepts.txt file:
Call:

[code]

Log:

[code]

[2014-11-10 16:58] jluisred commented on #33
I tried to reproduce the error in my machine, using the metadata files available in TV2RDF for that particular Media Resource (040119d2-76d6-4b8e-a5ce-b08fd380dc87). I hope they are the newest ones.

The problem is that the corresponding Exmaralda file does not contain any visual concepts. TV2Lucene indexes both transcripts and visual queues and by default is expecting to have them.

Question: Is

[2014-11-11 09:51] jthomsen commented on #33
thanks for investigating - actually I don't know, could check; however, Lampis is currently working on a new algorithm for TKK videos anyway, so I suggest we discuss this in our WP5 telecon later today

[2014-11-12 18:40] jthomsen commented on #33
now I tried

[code]

where ftp://ftp.condat.de/archive/data/SV/final/exmaralda/TUSSEN_KUNST_-AVR00006Z6J_115000_2850800.exb for me seems to include visual concepts, but I get the same Null Pointer Exception. Am I overlooking something?

[2014-11-13 10:15] jluisred commented on #33
This new exmaralda file looks exactly the same... no visual concepts. Are you sure we talk about the same document? In more detail:

I got the file from here: (not exactly the same URL you specified, I needed to capitalize d in "data" but I guess this is not relevant)
ftp://ftp.condat.de/archive/Data/SV/final/exmaralda/TUSSEN_KUNST_-AVR00006Z6J_115000_2850800.exb

If you take a look in it, there i

[2014-11-13 10:25] jthomsen commented on #33
ah, ok thanks, I see the problem, sorry!! will check again.

[2014-11-13 11:12] jthomsen commented on #33
OK, I've checked again with file 'TUSSEN_KUNST_-AVR00008KC2_115000_2839440.exb' which both contains chapters and visual concepts, and indeed it works! Thanks again, so I will index all TKK files which contain both visual concepts and  chapters (as I see it currently about 12); the others will follow as soon as available

[2014-11-20 18:12] jthomsen commented on #33
ok, obviously we have to delete the existing indexes and then reindex. I tried different ways like

[code]

and in the browser, however this doesn't work. Could you please tell me the right way to delete an index here? Thanks!

[2014-11-21 10:05] jthomsen commented on #33
did investigate a little bit more and came up with the following (the above statement cannot work, because we're using multiple cores here):

[code]

but I am not sure and don't want to mess up with the index and try this; could you confirm this or correct it, pls? Thanks!!

[2014-11-21 14:06] jthomsen commented on #33
OK, found also another possibility: stop the Solr Server, delete the files in the data directory and redeploy the SolrServer; will try this

[2014-11-25 08:33] jluisred commented on #33
There is a REST API call you can try against the server and should do the job, take a look at:
http://stackoverflow.com/questions/7722508/how-to-delete-all-data-from-solr-and-hbase

[2014-11-25 09:24] jthomsen commented on #33
ok, thanks! but think I will now just delete the /data folders, redeploy/restart and reindex

[2014-11-26 07:26] #33 closed, assigned to jluisred

[2015-02-03 16:08] jluisred opened #41 "Invalid Character in Solr Index"
Items coming from the index via a query such as
http://linkedtv.eurecom.fr/tvenricher/api/entity/enrichment/Solr?q=Obama%20Berlin

include ID's with a wrong character at the end of the UUIDs (white space just before the #):
http://data.linkedtv.eu/media/7882f5e4-d895-11e2-951c-f8bdfd0abfbd #t=204.24,505.88

Possible cause: wrong UUID provided when launching TV2Lucene.

[2015-02-03 16:45] jluisred opened #42 "Flush Solr Index"
Remove the whole set of documents from the Solr index before reindexing with upcoming TV2Lucene versions. Tentative approach:

http://stackoverflow.com/questions/7722508/how-to-delete-all-data-from-solr-and-hbase

[2015-02-03 18:37] jblom commented on #42
I'm not sure why the SOLR index must be deleted, but in any case this might be a good opportunity to add a separate field to see whether a document (chapter) is curated or not.

Using this field the TV2Lucene should only update/delete non-curated chapters.

[2015-02-04 08:28] rtroncy commented on #42
The Solr index contains a lot of crap, old documents, etc. not taking
into account the numerous updates done so far.

TV2Lucene does not update/delete at all.

[2015-02-04 14:51] jluisred commented on #42
After some internal discussion between the partners involved, we have agreed on:

1) Adding a new boolean parameter to the Solr index called "curated", initially set to "false" by TV2Lucene. New version coming in the next minutes.
2) Flush the Solr index and start from scratch. The ET can sync the changes again when restarted, @jblom correct me if I'm wrong. Ideally, this full flushing won't be ne

[2015-02-04 15:14] jblom commented on #42
after you have updated the index (after deleting everything), I will adjust my code to make sure that the ET creates SOLR docs with the curated parameter set to `true`. Also the ET has a synchronization option (after I update): when the page is loaded the ET synchs all curated chapters with the SOLR index documents.

[2015-02-04 16:49] jluisred commented on #42
Ok, thanks @jblom .
New TV2Lucene version including "curated" field has just been published.

[2015-02-04 16:51] jluisred commented on #42
Flushing planned for tomorrow by @jthomsen

[2015-02-05 12:29] jthomsen commented on #42
All three indexes have been flushed

[2015-02-05 12:29] #42 closed

[2015-02-05 12:37] jthomsen opened #43 "TV2Lucene: java.lang.ArrayIndexOutOfBoundsException"
for some rbb TVA files TV2Lucene ends with a java.lang.ArrayIndexOutOfBoundsException
Example:

java -jar ~/TV2Lucene/script/TV2Lucene.jar -provider RBB -exm /mnt/data/RBB/exb/rbbaktuell_20130817_sdg_m_16_9_512x288.exb  -srt /mnt/data/RBB/srt/BERLIN-2013-08-17-21-44-38-08172145.srt  -metadata  /mnt/data/RBB/tva/rbbaktuell_20130817.html  -videoId  60186da4-07bb-11e3-951c-f8bdfd0abfbd

Related files